@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&display=swap');

body {
  font-family: 'Afacad Flux', sans-serif;
  background-color: $bg-primary;
  color: #333;
  font-size: 20px;
  margin: 0;
  h1, h2, h3 {
    font-family: 'Fredoka', sans-serif;
    font-size: 32px;
    margin: 0;
    color: $title-color;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #120428;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #79BBFF;
  border-radius: 10px;
}

@media (min-width: 1800px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}